/* cadastrar */
.secao-cadastro {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box-cadastro{
    height: 520px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-cadastro {
    background-color: #d66e2d;
    color: white;
}

.box-cadastro h1 {
    margin-top: 60px;
    font-size: 34px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.box-cadastro label {
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
    margin: 10px 0 5px;
}


.campo-inserir {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #fffafa;
    font-size: 16px;
    background-color: #ffffff00;
    color: white;
    font-weight: 400;
}

#botao-cadastrar {
    background-color: #d66e2d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
#botao-cadastrar{
    background-color: #f2a270;
}
#botao-cadastrar a{
    text-decoration: none;
    color: white;
}
#botao-cadastrar:hover{
    background-color: #c8682d;
}
.box-cadastro p{
    text-align: center;
}
.box-cadastro a{
    color: #313131;
}
.box-cadastro a:hover{
    color: white;
}
#mostrar{
    font-family: 'Montserrat', sans-serif;
}