
.secao-cadastro {
    display: flex;
    width: 1100px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box-cadastro, .box-bemvindo {
    width: 50%;
    height: 570px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-cadastro {
    background-color: #d66e2d;
    color: white;
}

.box-cadastro h1 {
    font-size: 43.7px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.box-cadastro label {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: white;
    margin: 10px 0 5px;
}

.box-bemvindo {
    background-color: #313131;
    color: white;
}

.box-bemvindo h2 {
    color: #55a95e;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
}

.box-bemvindo p {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.campo-inserir {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #fffafa;
    font-size: 16px;
    background-color: #ffffff00;
    color: white;
    font-weight: 400;
}

#botao-cadastrar, #botao-entrar {
    background-color: #5c9f63;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
#botao-cadastrar a, #botao-entrar a{
    text-decoration: none;
    color: white;
}
#botao-cadastrar:hover, #botao-entrar:hover {
    background-color: #438e4b;
}
.box-cadastro p{
    text-align: center;
}
.box-cadastro a{
    color: #313131;
}
.box-cadastro a:hover{
    color: white;
}
.celular{
    opacity: 0;
}
@media (max-width: 768px){
    .celular{
        opacity: 1;
        font-weight: 400;
    }
}