/* cadastrar */
.secao-cadastro {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box-cadastro{
    min-height: 520px;
    padding: 60px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-cadastro {
    background-color: #d66e2d;
    color: white;
}

.box-cadastro h1 {
    margin-top: 60px;
    font-size: 34px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.box-cadastro label {
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
    margin: 10px 0 5px;
}
.secaoAlu{
    margin-top: 70px;
    width: 500px;
    height: 540px;
}
.secaoAlu h1{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 60px;
}

.campo-inserir {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #fffafa;
    font-size: 16px;
    background-color: #ffffff00;
    color: white;
    font-weight: 400;
}

#botao-cadastrar {
    background-color: #d66e2d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 230px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
#botao-cadastrar{
    background-color: #f2a270;
}
#a{
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#a:hover{
    color: rgb(98, 102, 104);
}
#botao-cadastrar a{
    text-decoration: none;
    color: white;
}
#botao-cadastrar:hover{
    background-color: #c8682d;
}
.box-cadastro p{
    text-align: center;
}
.box-cadastro a{
    color: #313131;
}
.box-cadastro a:hover{
    color: white;
}
#mostrar{
    font-family: 'Montserrat', sans-serif;
}
.botaoVoltar{
    background: none;
    border: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
    margin-top: 20px;
}
.botaoVoltar:hover{
    right: -10px;
}
.botaoVoltar2{
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
    margin-top: 20px;
}
.botaoVoltar2:hover{
    right: -10px;
}
@media (max-width: 768px){
    .campo-inserir{
        width: 88%;
        margin-right: 50px;
    }
    body {
        padding: 10px;
    }
    #secao-login, .secao-cadastro {
        flex-direction: column;
        width: 90%;
        max-width: 100%;
    }
    #box-login, #box-welcome, .box-cadastro, .box-bemvindo {
        width: 90%;
        padding: 20px;
        height: 100%;
    }
    #box-login h1, .box-cadastro h1 {
        font-size: 2rem;
    }
    #box-welcome h2, .box-bemvindo h2 {
        font-size: 1.8rem;
    }
    #box-login p, .box-cadastro p, #box-welcome p, .box-bemvindo p {
        font-size: 1rem;
    }
    #entrar, #cadastrar-button, #botao-cadastrar, #botao-entrar {
        margin-right: 20px;
        max-width: 90%;
        margin-top: 20px;
    }
    #box-welcome, .box-bemvindo {
        display: none;
    }
}