*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
html {
    background-color: rgb(207, 207, 207);
}
.container{
    margin-top: 4%;
}
.container h1{
    color: #d66e2d;
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.tabela-div{
    border: #d66e2d solid 5px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.divAulaIns{
    width: 34%;
}
.divIns{
    width: 71.5%;
}
.divAlu{
    width: 82%;
}
th, tr{
    padding: 20px;
}
.editar{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe0ce;
    border: solid 1px #ad7649;
    cursor: pointer;

}

table{
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
td, th, .botaoCadastar{
    border: #d66e2d solid 2px;
    border-radius: 4px;
    padding: 10px;
}
th, .botaoCadastar{
    font-size: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #ffe5d084;
    color: #d66e2d;
}
td{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.botaoCadastar{
    width: 210px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    margin: 20px;
    background-color: #ffefe284;
    cursor: pointer;
}
#botoes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#alinhamento{
    display: inline-block;
    width: 100%;

}
.tablebutton {
    width: 1rem;
    height: 1rem;
}
@media (max-width: 768px){
    .tabela-div{
        width: 80%;
        overflow-x: auto
    }
    .container h1{
        font-size: 25px;
    }
    .container{
        width: 100%;
    }
    #botoes{
        flex-wrap: wrap;
        margin-top: 20px;
        width: 90%;
    }
    .botaoCadastar{
        margin: 10px;
        width: 100%;
    }
    .d{
        width: 80%;
    }
}
#alinhamento{
    display: block;
}
.d{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}